.menu-item {
  a {
    text-decoration: none;
    color: inherit;
  }

  h2 {
    margin: 0;
    letter-spacing: 0.4rem;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .item-header {
    border-bottom: 2px solid black;
    padding: 3px;
  }

  .sub-menu {
    position: absolute;
    z-index: 3;
    background-color: white;
    min-width: 180px;

    margin-top: -100px;
    margin-left: -20px;
    padding: 74px 20px 30px 20px;

    box-shadow: var(--standard-box-shadow);

    .item-header-internal {
      h2 {
        display: inline;
        color: var(--color-text-light-blue);
        border-bottom: 2px solid var(--color-text-light-blue);
        padding: 3px;
      }
    }

    .sub-items-container {
      margin-top: 30px;

      &.genres {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(7, auto);
        margin-bottom: 30px;
      }

      &.subs {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(11, auto);
      }

      &.other {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
