.homepage {
  .homepage-header {
    font-size: 50px;
    margin-top: 100px;
  }
  .intro-text {
    font-size: 15px;
    margin: 100px 0 100px 20%;
    max-width: 400px;

    a {
      color: inherit;
    }
  }
}