.search-widget {
  .search-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: scaleX(-1);
    position: relative;
    top: 3px;

    &:hover {
      color: var(--color-text-light-blue);
    }
  }

  .search-widget-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 190px;
    background-color: var(--color-text-light-blue);
    display: flex;
    justify-content: center;
    align-items: center;

    .search-close-button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: var(--color-text-white);
      width: 60px;
      height: 60px;
      font-size: 18px;

      &:hover {
        color: var(--color-light-red);
      }
    }
  }
}
