.main-menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: scaleX(-1);
  }

  @media only screen and (max-width: 1000px) {
    display: none;
  }
}