.filter-field-value {
  background-color: var(--color-light-grey);
  border-radius: 4px;
  overflow: hidden;
  padding-right: 4px;

  .remove-button {
    display: inline-block;
    padding: 0;
    margin-right: 2px;
    border: none;
    padding: 2px 4px;
    font-size: 11px;
    &:hover {
      color: var(--color-light-grey);
      background-color: var(--color-text-dark-grey);
    }
  }
}