.decorative-image-red-poligon {
  position: absolute;
  z-index: -1;
  top: -250px;
  right: 12px;
  width: 735px;
  height: 740px;
}

.decorative-image-girl {
  position: absolute;
  z-index: -1;
  top: -70px;
  right: 20px;
  width: 337px;
  height: 798px;
}
