* {
  box-sizing: border-box;
}

:root {
  --color-dark-grey: #abb8c3;
  --color-light-grey: rgb(237, 238, 240);
  --color-light-red: #ff564e;
  --color-text-white: #fff;
  --color-text-yellow: #fefc8f;
  --color-text-black: #2b2b2f;
  --color-text-dark-grey: #363c4c;
  --color-text-light-grey: #999999;
  --color-text-lightest-grey: #ccc;
  --color-text-light-blue: #4c51fb;
  --standard-box-shadow: 1px 1px 5px grey;
  --main-section-width--desktop: 964px;
  --width-mobile-breakpoint: 1000px; /* This is just for my reference, as CSS variables can't be used in @media queries */
}

body {
  margin: 0;
  padding: 20px;
  background-color: var(--color-text-white);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.background {
  background-color: var(--color-light-grey);
  padding: 30px;

  .app {
    position: relative;
    z-index: 1;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
  margin-left: 6px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid currentColor;
  margin-left: 6px;
}

@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }

  .background {
    padding: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .background {
    padding: 8px;
  }
}
