* {
  box-sizing: border-box;
}

:root {
  --color-dark-grey: #abb8c3;
  --color-light-grey: rgb(237, 238, 240);
  --color-text-black: #2B2B2F;
  --color-text-dark-grey: #363C4C;
  --color-text-light-grey: #999999;
  --color-text-lightest-grey: #CCC;
  --color-text-light-blue: #4c51fb;
  --main-section-width--desktop: 964px;
  --width-mobile-breakpoint: 1000px; /* This is just for my reference, as CSS variables can't be used in @media queries */
}

body {
  margin: 0;
  padding: 20px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: var(--color-light-grey);
  padding: 30px;
}

@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }

  .app {
    padding: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .app {
    padding: 8px;
  }
}