.main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  .logo {
    width: 115px;
    height: 60.5px;
    display: block;
    transition: 0.3s ease;

    &:hover {
      @media only screen and (min-width: 1001px) {
        filter: grayscale(100%);
      }
    }
  }
}

.main-section {
  max-width: var(--main-section-width--desktop);
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  .main-header {
    margin-bottom: 20px;
  }

  .main-section {
    width: 100%;
    margin: 0 auto;
  }
}